.container{
    width: 100%;
    max-width: 1980px;
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-top: 3rem;
}

.container h3{
    width: 100%;
    text-align: left;
    color: rgba(58, 63, 122, 0.74);
    margin-left: 3rem;
    font-size: 2.4rem;
}

.dtable{
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle, rgba(241, 243, 240, 0.3) 0%, rgba(39, 49, 163, 0.1) 100%);
    width: 100%;
    margin-top: 1.5rem;

    font-size: 1rem;
}

.dtableRow{
    display: grid;
    /* padding: 1rem 3rem; */
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
    /* text-align: left; */
    font-size: 1rem;
    /* border-bottom: 1px solid gray;
    border-left: 1px solid gray; */
    transition: all .3s ease-in;
    font-weight: 400;
    cursor: pointer;
}


.dtableRow div{
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    height: 3rem;
    text-align: left;
    padding: 1rem;
}

.dtableRow div:nth-child(1){
    border-left: 1px solid gray;
}

.dtableRow:nth-child(odd){
    background: radial-gradient(circle, rgba(116, 116, 124, 0.3) 0%,rgba(155, 146, 218, 0.1) 100%);
}
.dtableRow:hover{
    background-color: rgb(236, 204, 122);
    color: rgb(45, 45, 245);
}

.dtableRowHeader{
    color: whitesmoke;
    font-size: 1.2rem;
    background: radial-gradient(circle, rgba(90, 39, 39, 0.9) 0%,rgba(15, 1, 1, 0.3) 0%) !important;
    border-top: 1px solid gray;
}

.addIcon{
    transition: all 1s ease-in-out;
    cursor: pointer;
}
.addIcon:hover{
    transform: rotate(360deg) scale(1.1);
}
.addIcon_{
    transition: all .6s ease-in-out;
    cursor: pointer;
    /* background-color: rgb(202, 194, 194); */
    margin: .7rem;
    padding: 0;
    /* border-radius: 50%; */
    width: 1.5rem;
    height: 1.5rem;
}
.addIcon_:hover{
    transform: translateZ(3rem) scale(1.5);
    /* background-color: rgb(226, 217, 217); */
    /* border-radius: 50%; */
}
.lastDiv{
    width: 100%;
    display: flex;
    justify-items: center !important;
    align-items: center !important;
    justify-content: center;
    background-color: whitesmoke;
}
